.main {
  background-image: url("../../image/carbon-capture-hero (1) 1.svg");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  background-size: cover;

  .polygon {

  }
}

.formBuyConcrete {
  color: #FFFFFF;
  background-image: url("../../image/cranes-construction-site 1.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  min-height: 50vh;


  h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;

    input {
      width: 20%;
    }

    button {
      background: #18191F;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;
    }
  }
}

.price {
  background: #E7E7E7;

  .shapka {
    background: #000000;
    color: #FFFFFF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    h2 {
      font-size: 48px;
      font-weight: 800;
      line-height: 64px;
      letter-spacing: 0em;
      text-align: center;
    }
  }

  .priceCategories {
    flex-wrap: wrap;

    .block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 calc(20% - 3px);
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0;
      text-align: center;
      border-radius: 5px;
      background: #FFFFFF;
      min-height: 51px;
      margin-right: 3px;
      margin-bottom: 6px;

      &:last-child {
        flex: 0 0 20%;
        margin-right: 0;
      }

      &--active {
        background: #FFAD00;
      }

      @media screen and (max-width: 992px) {
        flex: 0 0 calc(50% - 3px);
        margin-bottom: 4px;
        &:last-child {
          flex: 0 0 calc(50% - 3px);
        }
        &:nth-child(even) {
          margin-right: 0;
          flex: 0 0 50%;
        }
      }
    }
  }

  .categories {
    background: #FEFEFE;

    h5 {
      font-size: 21px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: center;
      padding: 10px;
    }
  }

  .order {
    background: #FEFEFE;
    border-radius: 5px;
    height: fit-content;

    .scoreboard {
      background: #CFCFCF;
      width: 100%;
      border-radius: 5px;
      font-size: 26px;
      font-weight: 500;
      line-height: 31px;
      letter-spacing: 0em;
      text-align: center;
      padding: 10px;
      margin: 10px 0;
    }
  }
}

.calc {
  background: #FFAD00;
  border-radius: 16px;
  margin-top: 40px;
  margin-bottom: 40px;

  .photo1 {
    display: block;
  }

  .photo2 {
    display: none;
  }
}

.works {
  margin-right: auto;
  margin-left: auto;
}

.forGSK {
  display: flex;
  margin-right: 7%;
  .imgSm{
    display: block;
  }
}

.work {
  padding: 50px;
}

@media screen and (max-width: 576px) {
  .calc {
    .photoOne {
      display: none;
    }

    .photo2 {
      display: block;

      img {
        min-height: 100%;
      }
    }
  }
  .forGSK{
    .imgSm{
      display: none;
    }
  }
}